*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

html,body{
  height: 100%;
  width: 100%;
}

.parent{
  display: flex;
  gap: 20px;
}

.card{
  margin: 10px;
  padding: 10px;
  width: 350px;
  border: 5px solid rgb(157, 159, 148);
  background-color: #222;
  text-align: center;
  border-radius: 15px;
}

.card button{
  margin: 5px;
  padding: 5px 10px;
  background-color: rgb(134, 147, 219);
  color: black;
  border: none;
  border-radius: 5px;
  font-size: medium;
}

.card p{
  margin: 10px 0px;
}

.card img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
}